*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
    color:gold;
}

nav {
    background: #F9C300;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

nav ol li{
    display: inline-block;
    padding: 30px;
}

#logo img {
    width: 80px;
    border-radius: 50%;
    background: white;
    padding: 10px;
}

nav ol li a{
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;

}